.MMM-PlaceInfo .flag-icon {
  border-radius: 50%;
  font-size: 100%;
  box-shadow: 0 0 3px #fff;
}

.MMM-PlaceInfo .placetable {
  border-spacing: 10px;
}

.MMM-PlaceInfo .label {
  display: inline;
}
